/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
body
{
    background: #37474f;
}

.topic-list .topic-title
{
    font-size: 20px;

    padding: 30px 0;

    color: #fefefe;
}
.topic-list li
{
    float: left;

    width: 300px;
    padding: 9px 3px 20px;
}
.topic-list .l
{
    display: inline-block;

    width: 100px;

    vertical-align: middle;

    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}
.topic-list .r
{
    font-size: 12px;
    line-height: 16px;

    display: inline-block;
    overflow: hidden;

    max-width: 210px;
    height: 16px;

    vertical-align: middle;
    vertical-align: top;

    color: #fff;

    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
}
