/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";
body {
	background: #37474f 
}
.topic-list {
	.topic-title {
		text-align: center;
		padding: 30px 0;
		font-size: 20px;
		color: #fefefe;
	}
	li {
		width: 300px;
		padding: 9px 3px 20px;
		float: left;
	}
	.l {
		width: 100px;
		@include inline-block;
	}
	.r{
		font-size: 12px;
		height: 16px;
		line-height: 16px;
		max-width: 210px;
		overflow: hidden;
		@include inline-block;
		vertical-align: top;
		color: #fff;
	}
}