<!DOCTYPE html>
<!--░░░░░░░░▌▒█░░░░░░░░░░░▄▀▒▌-->
<!--░░░░░░░░▌▒▒█░░░░░░░░▄▀▒▒▒▐-->
<!--░░░░░░░▐▄▀▒▒▀▀▀▀▄▄▄▀▒▒▒▒▒▐-->
<!--░░░░░▄▄▀▒░▒▒▒▒▒▒▒▒▒█▒▒▄█▒▐-->
<!--░░░▄▀▒▒▒░░░▒▒▒░░░▒▒▒▀██▀▒▌-->
<!--░░▐▒▒▒▄▄▒▒▒▒░░░▒▒▒▒▒▒▒▀▄▒▒-->
<!--░░▌░░▌█▀▒▒▒▒▒▄▀█▄▒▒▒▒▒▒▒█▒▐-->
<!--░▐░░░▒▒▒▒▒▒▒▒▌██▀▒▒░░░▒▒▒▀▄-->
<!--░▌░▒▄██▄▒▒▒▒▒▒▒▒▒░░░░░░▒▒▒▒-->
<!--▀▒▀▐▄█▄█▌▄░▀▒▒░░░░░░░░░░▒▒▒-->
<html lang="zh-HANS" ng-app="Nexus">
	<head>
		<% include ../partials/head  %>
		<title>小黄网</title>
	</head>
	<body>
		<div layout="column" id="main-wrap" class="main-wrap" ui-view></div>
	</body>
	<script src="javascripts/test.js"></script>
</html>