<html lang="zh-HANS" ng-app="Det">
	<head>
		<% include ../partials/head  %>
		<title><%= title || 'waynecz' %></title> 
		<!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
		<script src="./javascripts/controller.js"></script>
	</head>
	<body ng-controller="PhoneDetCtrl">
		<div class="container-fluid">
			<iv class="row">
				<div class="col-md-10">
					<ul class="phones">
						<li ng-repeat="i in phones">
							{{i.name}}
							<p>{{phone.snippet}}</p>
						</li>
					</ul>
				</div>
			</iv>
		</div>
	</body>
</html>