<div class="row topic-list cf">
    <div class="col s12 m4 poa" ng-repeat="single in acfun">
        <div class="card">
            <div class="card-image waves-effect waves-light modal-trigger" ng-click="setUrl(single.href)">
                <img ng-src="{{single.img}}">
                <span class="card-title">{{single.index}}</span>
            </div>
            <div class="card-content">
                <p>{{single.title}}</p>
            </div>
            <div class="card-action">
                <a href="{{single.href}}" target="_blank">猴山直达</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal">
    <embed class="player" allowFullScreenInteractive="true" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" AllowScriptAccess="always" rel="noreferrer" flashvars="type=page&url={{currentUrl}}" src="http://cdn.aixifan.com/player/ACFlashPlayer.out.swf" type="application/x-shockwave-flash" allowfullscreen="true" quality="high" wmode="window"></embed>
</div>
